---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About this site",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I’m a Satish Kumbhar.
			I’m a software developer with Java, Spring boot and Quarkus. I like building new stuff and do research.
		</p>
	</div>
</PageLayout>
