---
import '../styles/global.css';

const posts = await Promise.all(
  Object.entries(import.meta.glob('./**/*.md', { eager: true })).map(async ([path, post]) => {
    const slug = path.split('/').pop()?.replace('.md', '');
    return {
      slug,
      ...post.frontmatter,
    };
  })
);

posts.sort((a, b) => new Date(b.pubDate).getTime() - new Date(a.pubDate).getTime());
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
  </head>
  <body>
    <div class="name">Satish Kumbhar</div>
    <h1>Blogs</h1>

    <ul>
      {posts.map((post) => (
        <li>
          <span class="date">{new Date(post.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}</span>
          :
          <a href={`/sats17.blogs/blog/${post.slug}`}>{post.description}</a>
        </li>
      ))}
    </ul>
  </body>
</html>